<!doctype html>
<html>
<head>
  <title>MoPa Corporation</title>
</head>
  <div class="topnav">
      <a href="/">Home</a><span> | </span>
      <a href="/customers">Customers</a><span> | </span>
      <a href="/orders">Order Manager</a><span> | </span>
      <a href="/products">Products Catalog</a><span> | </span>
      <a href="/parts">Parts Inventory Manager</a>
  </div>
<body>
  {{{body}}}
</body>
</html>